# Bugprone exception escape is super unhelpful.
# NewDeleteLeaks has many false positives w.r.t smart pointers.
Checks:
  -*,

  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-forward-declaration-namespace,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-signed-char-misuse,

  clang-analyzer-*,
  -clang-analyzer-cplusplus.NewDeleteLeaks,

  concurrency-*,

  misc-unused-parameters,

HeaderFilterRegex: src/include|tools/benchmark/include|tools/nodejs_api/src_cpp/include|tools/python_api/src_cpp/include|tools/rust_api/include|tools/shell/include/(?!linenoise.h)
WarningsAsErrors: "*"
