.idea/
.vscode
bazel-*
.clwb
.bazelrc

test_temp/
build/

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
cmake-build-debug/
test/unittest_temp/

### Node.js
tools/nodejs_api/node_modules/
tools/nodejs_api/cmake_install.cmake
