.idea/
.vscode
.vs
bazel-*
.clwb
.cache
.bazelrc
test/test_files/test_list

test_temp/
build/

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
cmake-build-debug/
cmake-build-release/
test/unittest_temp_*
dataset/parquet_temp_*
tools/python_api/test/test_PYTHON_CSV.csv

# antlr4 jar
scripts/antlr4/antlr4.jar

# macOS
.DS_Store

### Node.js
tools/nodejs_api/node_modules/
tools/nodejs_api/cmake_install.cmake
tools/nodejs_api/package-lock.json
tools/nodejs_api/prebuilt/

# Archive files
*.zip
*.tar.gz
scripts/pre-compiled-bins/headers
scripts/pre-compiled-bins/lib*
scripts/pre-compiled-bins/kuzu*

# Java API
tools/java_api/CMakeFiles/
tools/java_api/Testing/
tools/java_api/testdb/
tools/java_api/testdb/
tools/java_api_falied/
tools/test_java_api/
tools/java_api/cmake_install.cmake
tools/java_api/Notes.txt
tools/java_api/CMakeCache.txt
tools/java_api/CTestTestfile.cmake
tools/java_api/*.log
tools/java_api/*.jar
tools/java_api/*.dylib
tools/java_api/test.java
tools/java_api/*.class
tools/java_api/KuzuNative.h
tools/java_api/error.txt
tools/java_api/Makefile