# required for tests
networkx~=3.0
numpy~=1.26
pandas
polars~=0.20
pyarrow>=15
pybind11>=2.6.0
pytest
torch
torch-geometric~=2.3.0
setuptools~=70.0
pytest-asyncio~=0.25

# required for lint/formatting
ruff==0.3.2
mypy==1.9.0
uv==0.1.17
