[package]
name = "kuzu"
version = "0.4.2"
description = "An in-process property graph database management system built for query speed and scalability"
# Note: 1.72 required for testing due to latest dependencies of the arrow feature
rust-version = "1.60"
readme = "kuzu-src/README.md"
homepage = "http://kuzudb.com/"
repository = "https://github.com/kuzudb/kuzu"
license = "MIT"
categories = ["database"]
# Only include files required to build to keep crate size small
include = [
    "build.rs",
    "/src",
    "/include",
    "/kuzu-src/src",
    "/kuzu-src/third_party",
    "/kuzu-src/Makefile",
    "/kuzu-src/CMakeLists.txt",
    "/kuzu-src/tools/CMakeLists.txt",
]

edition = "2018"

[dependencies]
cxx = "1.0"
time = "0.3"
arrow = {version="43", optional=true, default-features=false, features=["ffi"]}
uuid = "1.6"

[build-dependencies]
cxx-build = "1.0"
num_cpus = "1.0"
cmake = "0.1"

[dev-dependencies]
tempfile = "3"
anyhow = "1"
time = {version="0.3", features=["macros"]}

[features]
default = []
arrow = ["dep:arrow"]

[package.metadata.docs.rs]
all-features = true

[profile.relwithdebinfo]
inherits = "release"
debug = true
