# Env template file for tests.
# cp ./extension/llm/test/.env.example ./extension/llm/test/.env
# Fill out keys for providers.
# vi ./extension/llm/test/.env 
# Source the filled env file before running tests.
# . ./extension/llm/test/.env 

export AWS_ACCESS_KEY=
export AWS_SECRET_ACCESS_KEY=

export GOOGLE_GEMINI_API_KEY=

export GOOGLE_CLOUD_PROJECT_ID=
export GOOGLE_VERTEX_ACCESS_KEY=

export OLLAMA_URL=http://localhost:11434

export OPENAI_API_KEY=

export VOYAGE_API_KEY=
