name: Build-And-Deploy
on:
  workflow_dispatch:
    inputs:
      isDeploy:
        description: "Whether the build should be deployed?"
        type: boolean
        required: true
        default: false

jobs:
  build-java-mac:
    uses: ./.github/workflows/mac-java-workflow.yml
    secrets: inherit

  build-java-linux:
    uses: ./.github/workflows/linux-java-workflow.yml
    secrets: inherit

  build-java-windows:
    uses: ./.github/workflows/windows-java-workflow.yml
    secrets: inherit

  inject-java-bins:
    needs: [build-java-mac, build-java-linux, build-java-windows]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: libkuzu-java-win-x86_64
          path: java-bins

      - uses: actions/download-artifact@v3
        with:
          name: libkuzu-java-osx-x86_64
          path: java-bins

      - uses: actions/download-artifact@v3
        with:
          name: libkuzu-java-osx-arm64
          path: java-bins

      - uses: actions/download-artifact@v3
        with:
          name: kuzu-linux-jar
          path: java-bins

      - name: Add Java libs to jar
        run: |
          ls -alR java-bins
          jar uf java-bins/kuzu-linux-jar/kuzu_java.jar java-bins/libkuzu-java-win-x86_64/libkuzu_java_native.so_windows_amd64
          jar uf java-bins/kuzu-linux-jar/kuzu_java.jar java-bins/libkuzu-java-osx-x86_64/libkuzu_java_native.so_osx_amd64
          jar uf java-bins/kuzu-linux-jar/kuzu_java.jar java-bins/libkuzu-java-osx-arm64/libkuzu_java_native.so_osx_arm64
      
      - name: Upload jar
        uses: actions/upload-artifact@v3
        with:
          name: kuzu-deploy-jar
          path: java-bins/kuzu-linux-jar/kuzu_java.jar
