name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  gcc-build-test:
    name: gcc build & test
    needs: [clang-formatting-check]
    runs-on: kuzu-self-hosted-testing
    steps:
      - uses: actions/checkout@v3

      - name: Ensure Python dependencies
        run: |
          pip install torch~=1.13 --extra-index-url https://download.pytorch.org/whl/cpu &&\
          pip install --user -r tools/python_api/requirements_dev.txt

      - name: Build
        run: CC=gcc CXX=g++ make release NUM_THREADS=32

      - name: Test
        run: CC=gcc CXX=g++ make test NUM_THREADS=32

      - name: Python test
        run: CC=gcc CXX=g++ make pytest NUM_THREADS=32

  gcc-build-test-with-asan:
    name: gcc build & test with asan
    needs: [gcc-build-test]
    runs-on: kuzu-self-hosted-testing
    steps:
      - uses: actions/checkout@v3

      - name: Ensure Python dependencies
        run: |
          pip install torch~=1.13 --extra-index-url https://download.pytorch.org/whl/cpu &&\
          pip install --user -r tools/python_api/requirements_dev.txt

      - name: Build debug
        run: CC=gcc CXX=g++ make alldebug NUM_THREADS=32

      - name: Run test with ASan
        run: ctest
        env:
          LD_PRELOAD: "/usr/lib/x86_64-linux-gnu/libasan.so.6"
          ASAN_OPTIONS: "detect_leaks=1:log_path=/tmp/asan.log"
        working-directory: ./build/debug/test
        continue-on-error: true

      - name: Display ASan log
        run: cat /tmp/asan.log* || true
        shell: bash

      - name: Clean up ASan log
        run: rm -rf /tmp/asan.log*

  clang-build-test:
    name: clang build & test
    needs: [clang-formatting-check]
    runs-on: kuzu-self-hosted-testing
    steps:
      - uses: actions/checkout@v3

      - name: Ensure python dependencies
        run: |
          pip install torch~=1.13 --extra-index-url https://download.pytorch.org/whl/cpu &&\
          pip install --user -r tools/python_api/requirements_dev.txt

      - name: Build
        run: CC=clang-14 CXX=clang++-14 make release NUM_THREADS=32

      - name: Test
        run: CC=clang-14 CXX=clang++-14 make test NUM_THREADS=32

      - name: Python test
        run: CC=clang-14 CXX=clang++-14 make pytest NUM_THREADS=32

  clang-formatting-check:
    name: clang-format check
    runs-on: kuzu-self-hosted-testing
    steps:
      - uses: actions/checkout@v3

      - name: Check source format
        run: python3 scripts/run-clang-format.py --clang-format-executable /usr/bin/clang-format-11 -r src/

      - name: Check test format
        run: python3 scripts/run-clang-format.py --clang-format-executable /usr/bin/clang-format-11 -r test/

  benchmark:
    name: benchmark
    needs: [gcc-build-test, clang-build-test]
    runs-on: kuzu-self-hosted-benchmarking
    steps:
      - uses: actions/checkout@v3
      
      - name: Ensure Python dependencies
        run: |
          pip install torch~=1.13 --extra-index-url https://download.pytorch.org/whl/cpu &&\
          pip install --user -r tools/python_api/requirements_dev.txt

      - name: Build
        run: make benchmark NUM_THREADS=30

      - name: Benchmark
        run: python3 benchmark/benchmark_runner.py --dataset ldbc-sf100 --thread 1
