name: Build-Linux-NodeJS-Module

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-linux-nodejs-x86_64:
    runs-on: kuzu-self-hosted-linux-building
    steps:
      - uses: actions/checkout@v3

      - name: Create Node.js source distribution
        working-directory: tools/nodejs_api
        run: |
          rm -rf kuzu-source.tar.gz package *.node
          node package

      - name: Extract tarball
        working-directory: tools/nodejs_api
        run: tar -xvzf kuzu-source.tar.gz

      - name: Build Node.js native module
        working-directory: tools/nodejs_api/package
        run: |
          source /opt/rh/devtoolset-11/enable
          npm i

      - name: Move Node.js native module
        working-directory: tools/nodejs_api/package
        run: mv kuzujs.node kuzujs-linux-x64.node

      - uses: actions/upload-artifact@v3
        with:
          name: linux-nodejs-module-x86_64
          path: tools/nodejs_api/package/kuzujs-linux-x64.node

  build-linux-nodejs-aarch64:
    runs-on: kuzu-self-hosted-linux-building-aarch64
    steps:
      - uses: actions/checkout@v3

      - name: Create Node.js source distribution
        working-directory: tools/nodejs_api
        run: |
          rm -rf kuzu-source.tar.gz package *.node
          node package

      - name: Extract tarball
        working-directory: tools/nodejs_api
        run: tar -xvzf kuzu-source.tar.gz

      - name: Build Node.js native module
        working-directory: tools/nodejs_api/package
        run: npm i

      - name: Move Node.js native module
        working-directory: tools/nodejs_api/package
        run: mv kuzujs.node kuzujs-linux-arm64.node

      - uses: actions/upload-artifact@v3
        with:
          name: linux-nodejs-module-aarch64
          path: tools/nodejs_api/package/kuzujs-linux-arm64.node
