name: Build-Mac-Precompiled-Binaries

on:
  workflow_dispatch:
    inputs:
      packageVersion:
        description: "Version of output package"
        required: true
        default: "0.0.1"

env:
  PACKAGE_VERSION: ${{ github.event.inputs.packageVersion }}

jobs:
  build-precompiled-bin:
    runs-on: self-hosted-mac-arm
    steps:
      - uses: actions/checkout@v3

      - name: Install networkx
        run: python3 -m pip install networkx --user

      - name: Build precompiled binaries for Apple Silicon
        run: python3 build.py
        working-directory: ./scripts/pre-compiled-bins/
        env:
          MACOSX_DEPLOYMENT_TARGET: 11.0
          ARCHFLAGS: "-arch arm64"

      - uses: actions/upload-artifact@v3
        with:
          name: kuzu-${{ github.event.inputs.packageVersion }}-osx-arm64
          path: |
            ./scripts/pre-compiled-bins/kuzu
            ./scripts/pre-compiled-bins/kuzu.h
            ./scripts/pre-compiled-bins/libkuzu.dylib

      - name: Build precompiled binaries for Intel
        run: python3 build.py
        working-directory: ./scripts/pre-compiled-bins/
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.15
          ARCHFLAGS: "-arch x86_64"

      - uses: actions/upload-artifact@v3
        with:
          name: kuzu-${{ github.event.inputs.packageVersion }}-osx-x86_64
          path: |
            ./scripts/pre-compiled-bins/kuzu
            ./scripts/pre-compiled-bins/kuzu.h
            ./scripts/pre-compiled-bins/libkuzu.dylib

      - name: Clean up
        run: rm -rf ./scripts/pre-compiled-bins/kuzu ./scripts/pre-compiled-bins/headers ./scripts/pre-compiled-bins/libkuzu.dylib ./scripts/pre-compiled-bins/kuzu.h
